{% extends 'fathom/widgets/base-widget.twig' %}
{% block widget %}
    <div class="fathom-chart">
        <canvas id="{{ chartId }}"></canvas>
    </div>
{% endblock %}

{% js %}
chartSettings.plugins.tooltip.displayColors = false;
chartSettings.scales = {
    x: { grid: { display: false } },
    y: { grid: { display: false } },
}

new Chart(document.getElementById(chartId), {
    type: 'line',
    options: chartSettings,
    data: chartData
});
{% endjs %}
