.widget[data-type^="bencarr\\fathom\\widgets"] .spinner {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    --size: 1rem;
}

.fathom {
    container-type: inline-size;
}

.fathom-header {
    position: relative;
}

.fathom-range select {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    padding: 0.25em 0;
    border-bottom: 1px solid var(--hairline-color);
    border-radius: 0;
}

.fathom-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 0.5rem;
    margin-top: 1rem;
    border-top: 1px solid var(--hairline-color);
    font-size: 0.875em;
}

.fathom-footer time {
    font-style: italic;
    opacity: 0.75;
}

.fathom-footer button {
    color: var(--link-color);
}

.fathom-chart {
    height: 200px;
}

.fathom--current-visitors {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem 1rem;
}

@container (min-width: 640px) {
    .fathom--current-visitors {
        display: grid;
        grid-template-columns: minmax(min-content, 33%) 1fr;
        grid-template-rows: min-content min-content;
    }

    .fathom--current-visitors .fathom-stat {
        grid-row: 1 / span 2;
    }
}

.fathom--browsers,
.fathom--device-type {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem 1rem;
}

@container (min-width: 640px) {
    .fathom--browsers,
    .fathom--device-type {
        display: grid;
        grid-template-columns: minmax(min-content, 33%) 1fr;
        grid-template-rows: min-content min-content;
        align-items: start;
    }
}

.fathom--overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@container (min-width: 640px) {
    .fathom--overview {
        grid-template-columns: repeat(4, 1fr);
    }
}

.fathom-stat {
    display: flex;
    flex-flow: column;
    gap: 0.5em;
}

.fathom-stat-number {
    font-size: 2.5rem;
    line-height: 0.9;
    letter-spacing: -0.025em;
}

.fathom-stat-label {
    font-weight: bold;
    opacity: 0.75;
    font-size: 0.875em;
}

.fathom table {
    width: 100%;
}

.fathom table th {
    border-bottom: 2px solid rgba(0 0 0 / 0.2);
    padding-bottom: 0.5em;
    font-size: 0.875em;
}

.fathom table .fathom-table-bar {
    position: relative;
    padding-left: 0.5em;
    text-shadow: 1px 1px rgba(255 255 255 / 0.5);
    word-break: break-word;
}

.fathom-table-bar svg {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25em;
    transform: translateY(-0.125em);
}

.fathom-table-bar a {
    color: inherit;
}

.fathom table .fathom-table-bar::before {
    content: "";
    width: calc(1% * var(--fathom-bar-percentage, 0));
    position: absolute;
    top: 0.25em;
    left: 0;
    height: calc(100% - 0.5em);
    background: var(--fathom-bar-color, var(--link-color));
    opacity: var(--fathom-bar-opacity, 0.15);
    border-radius: 0.25rem;
    z-index: -1;
}

.fathom .fathom-table-number {
    text-align: right;
}

.fathom .fathom-table-shrink {
    width: 1px;
}
